QDialog {
    background-color: #FFDEAD;
}

QDialog QPushButton {
    background-color: #f6b93b;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
}

QDialog QPushButton:hover {
    background-color: #fdcb6e;
}

QDialog QComboBox {
    background-color: #fdcb6e;
}

QDialog QLabel {
    color: #222f3e;
    font-size: 17px;
}
